@media (max-width: 740px) {
    .search {
        display: none;
    }
}
.dark-mode {
    background-color: var(--bg-color);
    color: var(--text-color-black);
}

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba( 0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.logo {
   
}
.logo-link {
    display: flex;
}
.image {
    width: 150px;
}

// mode dark
.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 44px;
    height: 24px;
    padding: 2px;
    background-color: rgba(22, 22, 22, 0.012);
    // border: 1px solid rgba(22, 22, 22, 0.5);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;

    border-radius: 22px;
    position: relative;
    padding: 0 3px;
}

.turn-on {
    position: relative;
    background-color: #2374e1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    .switch-inner {
        position: absolute;
        left: calc(100% - 22px);
    }
}
.switch-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    // background-color: #2374e1;
    border-radius: 50%;
    left: 2px;
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
// mode dark
.btn-upload {
    color: var(--text-color-black);
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size:2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;

}

.action-btn {
    position: relative;
    display: flex;
    color: #161823;
    font-size: 2.6rem;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;

}
.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}


.custom-login {
    color: red;
}
.message-icon {
    width: 25px;
}
.btn-login {
    color: white;
}